{% extends "pyramid_bootstrap:/templates/bs4/layout.jinja2" %}

{% block title %}Quick Tutorial: {{ project }}{% endblock title %}

{% block content %}
<h1>Hi {{ project }}</h1>
{% endblock content %}