<!doctype html>
<html lang="{{request.locale_name}}">
	<head>

		<!-- Meta -->
		<meta charset="UTF-8">
		<title>PartsCo | {{ category }} Page</title>
		<meta name="keywords" content="PartsCo, Catalog, AU2018">
		<meta name="description" content="PartsCo - Catalog Demo For AU2018">
		<meta name="author" content="Chris Gill">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicons -->
		<link rel="shortcut icon" href="{{request.static_url('au2018forgecatalog:static/img/favicons/favicon.png')}}">
		<link rel="apple-touch-icon" href="{{request.static_url('au2018forgecatalog:static/img/favicons/apple-touch-icon.png')}}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{request.static_url('au2018forgecatalog:static/img/favicons/apple-touch-icon-72x72.png')}}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{request.static_url('au2018forgecatalog:static/img/favicons/apple-touch-icon-114x114.png')}}">

		<!-- CSS -->
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/reset.css')}}">
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/font-awesome.min.css')}}">
		<link href="http://fonts.googleapis.com/css?family=Raleway:300|Muli:300" rel="stylesheet" type="text/css">
	    {# <link rel="stylesheet" href="https://developer.api.autodesk.com/derivativeservice/v2/viewers/style.min.css" type="text/css" media="screen" charset="utf-8"/> #}
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/idangerous.swiper.css')}}">
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/style.css')}}">



	</head>

	<body>

		<!-- Preloader -->
		<div id="preloader">
			<div id="status"></div>
		</div>

		<!-- Overlay -->
		<div id="overlay"></div>

		<!-- Top header -->
		<div id="top">

			<!-- Sidebar button -->
			<a href="#" id="sidebar-button"></a>

			<!-- Logo -->
			<header id="logo">
				<h1>PartsCo</h1>
				<h2>Minimalistic &amp; Elegant</h2>
			</header>

			<!-- Portfolio close button -->
			<a href="#" id="portfolio-close"></a>

		</div>

		<!-- Main wrapper -->
		<div id="main-wrapper">

			<!-- Content -->
			<div id="content" class="isotope-container">

				<!-- Fluid container -->
				<div class="container-fluid">

					<!-- Page heading -->
					<div id="heading" class="row">
						<div class="filter col-12">

							<header>
								<h1>{{ category }}</h1>
								<h2>Let the images speak</h2>
							</header>

						</div>
					</div>

					<!-- Main content -->
					<div class="isotope isotope-3 row">

						{% for product in products %}
						<!-- Portfolio item -->
						<article class="portfolio isotope-item {{ category }} design col-4">
							{% for field in product["metaFields"]["entry"] %}
							{% if field["key"] == "URN" %}
							<a href="/product/{{ product['id'] }}" class="image" style="background-image: url(/forge/thumbnail?id={{ field['fieldData']['value'].rstrip('=') }})"></a>
							{% endif %}
							{% endfor %}
							<div class="inner">
								<header>
									{% for field in product["metaFields"]["entry"] %}
									{% if field["key"] == "PART_NAME" %}
									<h3>{{ field["fieldData"]["value"] }}</h3>
									{% endif %}
									{% endfor %} 
								</header>
							</div>
						</article>
						{% endfor %}
						
					</div>

				</div>

			</div>

			<!-- Collapsible sidebar -->
			<div id="sidebar">

				<!-- Widget Area -->
				<div id="widgets">

					<!-- Main menu -->
					<nav id="mainmenu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#">Product Categories</a>
								<ul>
									<li><a href="/category/Instruments">Instruments</a></li>
									<li><a href="/category/Vehicles">Vehicles</a></li>
									<li><a href="/category/Tools">Tools</a></li>
								</ul>
							</li>
							<li><a href="/about">About</a></li>
						</ul>
					</nav>

				</div>

				<!-- Copyright -->
				<footer>
					<p class="copyright">© Copyright 2018 Chris Gill</p>
				</footer>

			</div>						
			
			<!-- Portfolio full -->
			{% for product in products %}
			<div id="{{ product['id'] }}" class="portfolio-full portfolio-full-slidedown">

				<!-- Portfolio description -->
				<div class="portfolio-description">
					{% for field in product["metaFields"]["entry"] %}
					{% if field["key"] == "PART_NAME" %}
					<h3>{{ field["fieldData"]["value"] }}</h3>
					{% endif %}
					{% endfor %}
					{% for field in product["metaFields"]["entry"] %}
					{% if field["key"] == "PART_DESCRIPTION" %}
					<p>{{ field["fieldData"]["value"] }}</p>
					{% endif %}
					{% endfor %}
					<div class="icon-text">
						<i class="fa fa-shopping-cart"></i>
						<p>Part Number: {{ product["description"] }}</p>
					</div>
					<div class="icon-text">
						<i class="fa fa-calendar-o"></i>
						<p>Last Modified: {{ product["details"]["lastModified"] }}</p>
					</div>
				</div>

				{# <!-- Portfolio image slider -->
				<div class="swiper swiper-container">
					<p>sometext</p>
					<div class="viewer" id="viewer">
					</div>
					{% for field in product["metaFields"]["entry"] %}
					{% if field["key"] == "URN" %}
					<script type="text/javascript" src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/viewer3D.min.js"></script>
    				<script type="text/javascript" src="{{request.static_url('au2018forgecatalog:static/js/viewer.js')}}"></script>
					<script type="text/javascript">
        				loadURN("{{token_url}}", "{{ field['fieldData']['value'] }}")
    				</script>
					{% endif %}
					{% endfor %}
					<div class="swiper-wrapper">

                    <!-- Slide -->
                    <div class="swiper-slide" style="background-image: url(img/portfolio-images/3.jpg)"></div>

                    <!-- Slide -->
                    <div class="swiper-slide" style="background-image: url(img/portfolio-images/10.jpg)"></div>

                    <!-- Slide -->
                    <div class="swiper-slide" style="background-image: url(img/portfolio-images/11.jpg)"></div>

                	</div>
				</div> #}

			</div>
			{% endfor %}

		</div>

		<!-- JavaScripts -->
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/jquery.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/bootstrap.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/swiper/idangerous.swiper.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/masonry/masonry.pkgd.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/isotope/jquery.isotope.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/custom.js')}}"></script>

	</body>
</html>