<!doctype html>
<html lang="{{request.locale_name}}">
	<head>

		<!-- Meta -->
		<meta charset="UTF-8">
		<title>PartsCo | Product Details</title>
		<meta name="keywords" content="PartsCo, Catalog, AU2018">
		<meta name="description" content="PartsCo - Catalog Demo For AU2018">
		<meta name="author" content="Chris Gill">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicons -->
		<link rel="shortcut icon" href="{{request.static_url('au2018forgecatalog:static/img/favicons/favicon.png')}}">
		<link rel="apple-touch-icon" href="{{request.static_url('au2018forgecatalog:static/img/favicons/apple-touch-icon.png')}}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{request.static_url('au2018forgecatalog:static/img/favicons/apple-touch-icon-72x72.png')}}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{request.static_url('au2018forgecatalog:static/img/favicons/apple-touch-icon-114x114.png')}}">

		<!-- CSS -->
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/reset.css')}}">
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/font-awesome.min.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300|Muli:300" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://developer.api.autodesk.com/derivativeservice/v2/viewers/style.min.css" type="text/css" media="screen" charset="utf-8"/>
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/idangerous.swiper.css')}}">
		<link rel="stylesheet" href="{{request.static_url('au2018forgecatalog:static/css/style.css')}}">

	</head>

	<body>

		<!-- Preloader -->
		<div id="preloader">
			<div id="status"></div>
		</div>

		<!-- Overlay -->
		<div id="overlay"></div>

		<!-- Top header -->
		<div id="top">

			<!-- Sidebar button -->
			<a href="#" id="sidebar-button"></a>

			<!-- Logo -->
			<header id="logo">
				<h1>PartsCo</h1>
				<h2>Minimalistic &amp; Elegant</h2>
			</header>

		</div>

		<!-- Main wrapper -->
		<div id="main-wrapper">

			<!-- Content -->
			<div id="content">

				<!-- Fluid container -->
				<div class="container-fluid">

					<!-- Page heading -->
					<div id="heading" class="row">
						<div class="col-12">

							<header>
								{% for field in product["metaFields"]["entry"] %}
								{% if field["key"] == "PART_NAME" %}
								<h1>{{ field["fieldData"]["value"] }}</h1>
								{% endif %}
								{% if field["key"] == "PART_DESCRIPTION" %}
								<br/><h2><b>Description: </b>{{ field["fieldData"]["value"] }}</h2>
								{% endif %}
								{% endfor %}
								<br/><h2><b>Part Number:</b> {{ product["description"] }}</h2>
								<br/><h2><b>Last Modified:</b> {{ product["details"]["lastModified"] }}</h2>
							</header>

						</div>
					</div>

					<!-- Main content -->
					<div class="row">
						<div class="col-12">

							<!-- Inner -->
							<article class="inner">

							<!-- Viewer -->
							<div class="row" style="margin:auto;">
									<div class="col-12" style="padding-left:0px;">
							<div class=viewer id=viewer style="height: 100vh; width: 100vw;">
							<script type="text/javascript" src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/viewer3D.min.js"></script>
							<script type="text/javascript" src="{{request.static_url('au2018forgecatalog:static/js/viewer.js')}}"></script>
							{% for field in product["metaFields"]["entry"] %}
							{% if field["key"] == "URN" %}
							<script type="text/javascript">
								loadURN("{{token_url}}", "{{ field['fieldData']['value'].rstrip('=') }}")
							</script>
							{% endif %}
							{% endfor %}
							</div>
							</div>
							</div>
							</article>

						</div>
					</div>

				</div>

			</div>

			<!-- Collapsible sidebar -->
			<div id="sidebar">

				<!-- Widget Area -->
				<div id="widgets">

					<!-- Main menu -->
					<nav id="mainmenu">
						<ul>
							<li><a href="/" class="active">Home</a></li>
							<li>
								<a href="#">Product Categories</a>
								<ul>
									<li><a href="/category/Instruments">Instruments</a></li>
									<li><a href="/category/Vehicles">Vehicles</a></li>
									<li><a href="/category/Tools">Tools</a></li>
								</ul>
							</li>
							<li><a href="/about">About</a></li>
						</ul>
					</nav>

				</div>

				<!-- Copyright -->
				<footer>
					<p class="copyright">© Copyright 2018 Chris Gill</p>
				</footer>

			</div>

		</div>

		<!-- JavaScripts -->
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/jquery.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/bootstrap.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/swiper/idangerous.swiper.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/masonry/masonry.pkgd.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/isotope/jquery.isotope.min.js')}}"></script>
		<script type='text/javascript' src="{{request.static_url('au2018forgecatalog:static/js/custom.js')}}"></script>

	</body>
</html>